/* Contenedor principal de la lista de materiales */
.material-list-container {
    padding: 20px;
    margin-top: 5%;
  }
  
  /* Contenedor para organizar las tarjetas en filas */
  .material-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Estilo para cada tarjeta de material */
  .material-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
  }
  
  /* Estilo para las imágenes de los materiales */
  .material-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  /* Estilo para el contenido de la tarjeta */
  .material-card-content {
    margin-top: 16px;
  }
  
  /* Estilo del botón para agregar material */
  .material-add-button {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Efecto hover para el botón */
  .material-add-button:hover {
    background-color: #218838;
  }
  