/* Estilos para Clientes */
/* Menú de Usuario */
.user-menu {
    display: flex;
    align-items: center;
    position: relative;
}

/* Menú Lateral */
.side-nav {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    z-index: 999;
}

.side-nav.open {
    left: 0;
}

/* Contenido Principal */
.App-main {
    padding: 20px;
    margin: 0 25px; /* Ajusta los márgenes laterales */
    margin-top: 100px; /* Ajusta según la nueva altura del encabezado */
    margin-bottom: 60px; /* Ajusta el margen inferior para evitar espacio en blanco excesivo */
    box-sizing: border-box;
}

/* Botones de Módulo */
.module-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.module-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.module-card img {
    height: 100px;
    margin-bottom: 10px;
}

/* Formularios */
.form-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 115px; /* Ajusta el valor según la altura de tu header */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.direccion-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direccion-centered .form-control {
    text-align: center;
    width: 80%;
}

/* Contenedor de la tabla */
.table-container {
    overflow-x: auto;
    margin-top: 20px;
    padding-bottom: 10px;
}

/* Tabla */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background-color: #f4f4f4;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Paginación */
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* Espacio entre la tabla y la paginación */
    margin-bottom: 20px; /* Espacio entre la paginación y la parte inferior */
}

.pagination-controls button {
    margin: 0 10px;
}

/* Contenedor principal para el buscador y el botón */
.search-create-container {
    margin-top: 20px; /* Espacio reducido entre el título y el buscador */
    text-align: center;
}

/* Contenedor para el buscador y el botón */
.search-create-wrapper {
    display: flex;
    justify-content: center; /* Centra el buscador horizontalmente */
    align-items: center; /* Alinea verticalmente los elementos */
    margin-bottom: 20px; /* Espacio debajo del contenedor */
}

/* Contenedor del buscador */
.search-container {
    flex: 1;
    max-width: 400px;
    margin: 0 auto;
}

.section-title {
    font-size: 36px; /* Ajusta el tamaño del texto */
    font-weight: bold;
    margin-bottom: 20px; /* Espacio debajo del título */
    margin-top: 20px; /* Espacio encima del título, ajusta según sea necesario */
    color: #333; /* Color del texto, ajusta según tu diseño */
    text-align: center;
}

.user-management-title-cliente {
    font-size: 36px; /* Aumenta el tamaño del texto */
    font-weight: bold;
    margin-bottom: 20px; /* Espacio debajo del título */
    color: #333; /* Color del texto */
    text-align: center; /* Centra el texto horizontalmente */
}


/* Contenedor para el botón "Crear Cliente" */
.create-btn-container {
    display: flex;
    justify-content: flex-end; /* Alinea el botón a la derecha */
    margin-bottom: 15px; /* Espacio entre el botón y la tabla */
    position: relative;
}

/* Estilo para el botón "Crear Cliente" */
.create-btn-container .btn {
    margin-top: 0; /* Alinea el botón con el buscador */
}

.form-control {
    width: 100%; /* Asegura que el campo de entrada ocupe todo el ancho del contenedor */
}
