.material-management-header {
    margin-top: 20px; /* Añade un espacio en la parte superior */
    display: flex; /* Cambié a "flex" en lugar de "80%" para corregir el diseño */
    justify-content: space-between;
    align-items: center;
}

.material-management-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
