/* Encabezado */
.App-header {
    background-color: #89a4b6;
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: calc(10px + 2vmin);
    color: white;
    position: fixed; 
    width: 100%; 
    top: 0; 
    left: 0; 
    z-index: 1000;
}

/* Menú de Usuario */
.user-menu {
    display: flex;
    align-items: center;
    position: relative;
}

/* Menú Lateral */
.side-nav {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    z-index: 999;
}

.side-nav.open {
    left: 0;
}

/* Contenido Principal */
.App-main {
    padding: 20px;
    margin: 0 25px; 
    margin-top: 100px; 
    margin-bottom: 60px; 
    box-sizing: border-box;
}

/* Botones de Módulo */
.module-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.module-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.module-card img {
    height: 100px;
    margin-bottom: 10px;
}

/* Formularios */
.form-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 115px; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.direccion-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direccion-centered .form-control {
    text-align: center;
    width: 80%;
}

/* Contenedor de la tabla */
.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

/* Tabla */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background-color: #89a4b6; /* Color de encabezado */
    color: white; /* Color de texto de encabezado */
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center; /* Centrado */
}

.table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center; /* Centrado */
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
    margin-left: -10px;
}

/* Título de la página */
.facturas-title {
    font-size: 36px; 
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
    margin-top: 80px;
    margin-bottom: -10px;
}

/* Paginación */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination .active .page-link {
    background-color: #89a4b6; /* Color del fondo activo */
    color: white; /* Color del texto activo */
}

.pagination .page-link {
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilos de los botones de paginación */
.pagination .page-item.disabled .page-link {
    background-color: #ccc; /* Color para los botones deshabilitados */
    cursor: not-allowed;
}

.search-create-wrapper {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

/* Contenedor del buscador */
.search-container {
    flex: 1; 
    margin-right: -150px;
    margin-top: -50px;
}

.create-btn-container {
    margin-left: 20px; 
    margin-bottom: -40px;
}

/* Estilo para el botón "Crear Factura" */
.create-btn-container .btn {
    margin-top: 0; 
}
