.pagination {
    justify-content: center;
}

.pagination .page-item .page-link {
    color: #fff;
    background-color: #343a40; /* Cambia este color por el que desees */
    border-color: #343a40; /* Cambia este color por el que desees */
}

.pagination .page-item.active .page-link {
    background-color: #007bff; /* Color para la página activa */
    border-color: #007bff;
}

.pagination .page-item .page-link:hover {
    background-color: #6c757d; /* Color al pasar el mouse */
    border-color: #6c757d;
}
