.contact-box {
  border: 1px solid #E1DCC9;
  padding: 25px; /* Espacio interno del box */
  border-radius: 8px; /* Bordes redondeados */
  max-width: 500px; /* Ancho del box */
  margin: 30px auto; /* Centrado del box */
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.contact-box h3 {
  margin-bottom: 20px;
  font-size: 1.5em;
  text-align: center;
}

.contact-box label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 12px; /* Espaciado interno dentro del input/textarea */
  margin-top: 6px;
  margin-bottom: 20px;
  border: 1px solid #E1DCC9;
  border-radius: 6px;
  font-size: 1em;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  background-color: #F9F9F9; /* Color de fondo más claro para diferenciar del contenedor */
}

.contact-box input:focus,
.contact-box textarea:focus {
  border-color: #C24229; /* Color del borde al hacer foco */
  outline: none; /* Remover el borde azul por defecto */
  background-color: #FFFFFF; /* Fondo blanco al escribir */
}

.contact-box button {
  padding: 12px 25px;
  background-color: #C24229;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  width: 100%;
}

.contact-box button:hover {
  background-color: #EFB758;
  color: #C24229;
}
